body{
	background-image: url(https://i.pinimg.com/originals/59/47/6c/59476c3211e81aaa49c5d3f7ed3a940f.gif);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}