body{
	background-image: url(https://i.pinimg.com/originals/6b/4c/b8/6b4cb8b6ad99f8750f2eda7a9d1218d5.gif);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}