body{
	background-image: url(https://i.pinimg.com/originals/f4/82/85/f48285d0508ffab92c4d40742a526487.gif);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}