body{
	background-image: url(https://pa1.aminoapps.com/6343/cb2f20ac88630d1fed47053e77ce3cbd44666282_hq.gif);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}