body{
	background-image: url(https://cdn.shopify.com/s/files/1/0019/8102/2321/collections/skzoo_1200x1200.jpg?v=1674879916);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}