body{
	background-image: url(https://i.pinimg.com/originals/cc/18/a5/cc18a5901d40c79d27a3c38584329956.gif);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}